{{ define "main" }}
{{ range (.Paginate (where .Site.RegularPages "Section" "posts")).Pages }}
<article class="post">
    <div class="post-date">
        <a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}</a>
    </div>
    
    <div class="post-content">
        {{ .Content }}
    </div>
    
    {{ if .Params.tags }}
    {{ $hasRealTags := false }}
    {{ range .Params.tags }}
        {{ if ne . "" }}
            {{ $hasRealTags = true }}
        {{ end }}
    {{ end }}
    {{ if $hasRealTags }}
    <div class="post-tags">
        {{ range .Params.tags }}{{ if ne . "" }}#<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">{{ . }}</a> {{ end }}{{ end }}
    </div>
    {{ end }}
    {{ end }}
</article>
{{ end }}

{{ if .Paginator.HasPrev }}
<a href="{{ .Paginator.Prev.URL }}">← newer</a>
{{ end }}
{{ if .Paginator.HasNext }}
<a href="{{ .Paginator.Next.URL }}">older →</a>
{{ end }}
{{ end }}