{{ define "main" }}
<article class="post">
    <div class="post-date">
        {{ .Date.Format "2006-01-02" }}
    </div>
    
    <div class="post-content">
        {{ .Content }}
    </div>
    {{ partial "via.html" . }}

    {{ if .Params.tags }}
    {{ $hasRealTags := false }}
    {{ range .Params.tags }}
        {{ if ne . "" }}
            {{ $hasRealTags = true }}
        {{ end }}
    {{ end }}
    {{ if $hasRealTags }}
    <div class="post-tags">
        {{ range .Params.tags }}{{ if ne . "" }}#<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">{{ . }}</a> {{ end }}{{ end }}
    </div>
    {{ end }}
    {{ end }}
</article>
{{ end }}